.example-header-image {
    background-image: url('/assets/portrait.jpg');
    background-size:  cover;
  }

.mat-card-header {
    font-weight: bold;
  }

.mat-card-title {
  font-weight: bold;
  font-size: xx-large;
}

.mat-card-subtitle {
  font-weight: bold;
  font-size: large;
}

.mat-card-content {
  font-size: medium;
}
