<mat-tab-group (selectedTabChange)="onLinkClick($event)"> 
  <mat-tab label="About">
    <mat-card>

      <mat-card-header>
        <div mat-card-avatar class="example-header-image">
        </div>

        <mat-card-title>{{data?.about.name}}</mat-card-title>
        <mat-card-subtitle>{{data?.about.title}}</mat-card-subtitle>

      </mat-card-header>

      <mat-card-content>

        {{data?.about.blurb}}

      </mat-card-content>

    </mat-card>
  </mat-tab>
  <mat-tab label="Research">
    <span *ngFor="let entry of data?.research | keys">
      <mat-card>
        <mat-card-header>
            {{entry.key | uppercase}}
        </mat-card-header>
        <mat-card-content>
          <mat-nav-list>
              <a mat-list-item [href]="v.url" *ngFor="let v of entry.value"> {{ v.title }}, {{v.venue}}, {{v.year}} 
                {{v.authors | coauthors}} {{v.amount | currency}}
              </a>
           </mat-nav-list>
        </mat-card-content>
      </mat-card>
    </span>
  </mat-tab>
  <mat-tab label="Teaching">
      <span *ngFor="let entry of data?.courses | keys">
          <mat-card>
            <mat-card-header>
                {{entry.key | uppercase}}
            </mat-card-header>
            <mat-card-content>
              <mat-nav-list>
                  <a mat-list-item role="listitem" *ngFor="let v of entry.value"> {{v.id}}: {{v.title}} </a>
               </mat-nav-list>
            </mat-card-content>
          </mat-card>
        </span>
  </mat-tab>
  <mat-tab label="Service">
      <span *ngFor="let entry of data?.service | keys">
          <mat-card>
            <mat-card-header>
                {{entry.key | uppercase}}
            </mat-card-header>
            <mat-card-content>
              <mat-nav-list>
                  <a mat-list-item role="listitem" *ngFor="let v of entry.value"> {{v.role}} at {{v.venue}} ({{v.venueshort}}), {{v.startdate}}-{{v.enddate}} </a>
               </mat-nav-list>
            </mat-card-content>
          </mat-card>
        </span>
  </mat-tab>
  <mat-tab label="🖨Print CV">
    <div id="print-section">
      <H2>{{data?.about.name}}, {{data?.about.title}}</H2>
      <H3>Journal publications</H3>
        <li *ngFor='let paper of data?.research["journal papers"]'>
            {{paper.title}}, {{paper.venue}}, {{paper.year}} {{paper.authors | coauthors}}
        </li>

      <H3>Conference publications</H3>
        <li *ngFor='let paper of data?.research["conference papers"]'>
            {{paper.title}}, {{paper.venue}}, {{paper.year}} {{paper.authors | coauthors}}
        </li>

      <H3>Grants</H3>
          <li *ngFor='let grant of data?.research["grants"]'>
              {{grant.title}}, {{grant.venue}}, {{grant.year}} ({{grant.amount | currency}})
          </li>

      <H3>Teaching</H3> 
        <span *ngFor='let university of data?.courses | keys'>
            <span *ngFor="let course of university.value">{{course.id}}: {{course.title}}, </span>
        </span>
      <H3>Professional Service</H3>
        <span *ngFor='let cat of data?.service | keys'>
            <li *ngFor="let service of cat.value">{{service.role}} at {{service.venue}} ({{service.venueshort}}), {{service.startdate}}-{{service.enddate}}</li>
        </span>
    </div>
  </mat-tab>
</mat-tab-group>