.example-header-image {
    background-image: url('/assets/portrait.jpg');
    /* background-image: url("{{data?.about.picture}}"); */
    background-size: cover;
  }

.mat-card-header {
    font-weight: bold;
  }